# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter 노트북 체크포인트
.ipynb_checkpoints/

# 환경 설정 파일
.env
.venv/
env/
venv/

# Streamlit secrets 파일
HW_08/.streamlit/secrets.toml
/HW_08/.streamlit
*.toml

# 짜잘한 API Key 모아둠
config.py
# 구글 드라이브 클라이언트 아이디
credentials.json
credentials_base64.txt